html(ng-app="privnote")
  head
    include resources.jade
  body
    include header.jade
    div(id="decryption", ng-controller="decryption")
        if (one_time_read)
            div(class="center_div alert-box warning read_once_alert")
                span warning: 
                | The encrypted message/data will be destroy 5 minutes after pressing the button.
        div(id="decryption_form", class="center")
            if (note)
                h3 Note: #{note}
            form
                input(ng-model="password", placeholder="password", type="password", ng-hide="message_view", required)
                br
                input(ng-click="decrypt()", type="submit", value="Decrypt", id="decrypt_button", ng-hide="message_view", class="pure-button button-large")
        br
        textarea(ng-model="message_view", ng-hide="!message_view", class="center_div", rows="30", cols="100", readonly)

        div(class="cssload-thecube", ng-show="spinner")
            <p> ...Decrypting... <p>
            div(class="cssload-cube cssload-c1")
            div(class="cssload-cube cssload-c2")
            div(class="cssload-cube cssload-c4")
            div(class="cssload-cube cssload-c3")
    include footer.jade

