html(ng-app="privnote")
  head
    include resources.jade
  body
    div(id="wrapper")
        include header.jade

        div(id="content_encrypt", ng-controller="encryption")
            div(id="left_side", ng-show="storage_set")
                ul
                    li(ng-repeat="link in links")
                        |{{link.uid}} - {{link.note}}
            textarea(ng-model="data", rows="20", cols="80", placeholder="Enter you message here", ng-disabled="file_set", ng-change="set_text(data)")
            p
            | or file: 
            input(type="file", ng-model="file", id="file_input", onchange="angular.element(this).scope().set_file(this)", ng-disabled="text_set", class="pure-button button-large")
            p
            form(class="pure-form")
                input(type="text", ng-model="password", placeholder="Password", required)
                p
                input(type="text", ng-model="note", size="80", placeholder="Optional: Unencrypted note to recipient", maxlength=100)
                p
                input(type="checkbox", id="delete", class="chkbox", ng-model="one_read", ng-click='delete_on_read(one_read)', checked)
                label(for="delete")="Delete after retrieved"
                br
                input(ng-click="submit($event)", type="submit", value="Submit", id="encrypt_button", class="pure-button button-large")
                br
                p(id="key_generation_status")
        include footer.jade

