div#content_encrypt {
    text-align: center;
    padding-bottom: 100px; /* height of footer */
    overflow:auto;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder {
   text-align: center;
}

::-moz-placeholder {
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.center {
    text-align: center;
}

.center_div {
    display: table !important;
    margin: 0 auto !important;
}

#qrcode > img {
    display: initial !important;
}

.warning {
    background:#fff8c4 url('/static/images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.read_once_alert {
    width: 30%;
}

#decryption_form {
    margin-top: 40px;
}

html, body {
    font-family: 'Inconsolata';
    margin:0;
    padding:0;
    height:100%;
}

#header {
    height: 100px;
    background: #E4EFFF;
    margin-bottom: 25px;
    text-align: center;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#footer {
    width: 100%;
    height: 100px;
    background: #E4EFFF;
    text-align: center;
    position:absolute;
    bottom:0;
    left:0;
}

#logo_img {
    vertical-align: top;
    display: inline-block;
    clear: right;
    margin-top: 20px;
}

#logo_text {
    vertical-align: text-bottom;
}

#encrypt_button {
    margin-top: 20px;
}

#decrypt_button {
    margin-top: 20px;
    margin-top: 10px;
}

.chkbox {
    margin-right: 10px !important;
}

.nav {
    width: 580px;
    text-align: center;
    padding-right: 40px;
}

#footer > ul > li {
    display: inline;
    text-align: center;
    margin-right: 100px;
}

#footer > ul {
    list-style-type: none;
    margin: 2px auto;
    line-height: 5.4;
}

#left_side > ul {
    list-style-type: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

#left_side {
    float: right;
    height: 50%;
    width: 15%;
    position: absolute;
}
