div#keys {
    text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder {
   text-align: center;
}

::-moz-placeholder {
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.center {
    text-align: center;
}

.center_div {
    display: table !important;
    margin: 0 auto !important;
}

#qrcode > img {
    display: initial !important;
}

.warning {
    background:#fff8c4 url('/static/images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.read_once_alert {
    width: 30%;
}

#decryption_form {
    margin-top: 120px;
}

body {
    font-family: 'Inconsolata';
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#header {
    height: 100px;
    background: #E4EFFF;
    margin-bottom: 25px;
    text-align: center;
}

#logo_img {
    vertical-align: top;
    display: inline-block;
    clear: right;
}

#logo_text {
    vertical-align: text-bottom;
}

#encrypt_button {
    margin-top: 20px;
}
